{% extends "base.html.twig" %}

{% block title %}
	Votre profil
{% endblock %}

{% block body %}
	<section id="profile" class="features mt-5">

		{% include "shared/_flashes.html.twig" %}

		<div class="container mt-5">
			<div class="section-title">
				<h2>
					{{ user.screenName }}
				</h2>
			</div>
			<div class="row mt-3">

				<div class="col-md-6 mb-5" align="center">
					<h3>Votre adresse mail de contact :</h3>
					<strong>{{ user.email }}</strong>
				</div>

				<div class="col-md-6 mb-5" align="center">
					<h3>Votre avatar :</h3>
					<img src="{{ asset(user.idPhotoPath) }}" alt="" width="60" height="60">
				</div>
			</div>

			<div class="row my-3">
				<h3>Pour modifier votre mot de passe ...</h3>
				{{ form_start(formView) }}
				<div class="row my-3">
					<div class="col-lg-4">
						{{ form_row(formView.oldPassword) }}
					</div>
					<div class="col-lg-4">
						{{ form_row(formView.password.first) }}
					</div>
					<div class="col-lg-4">
						{{ form_row(formView.password.second) }}
					</div>
				</div>
				<button class="btn form-submit-btn mt-3" type="submit">
					Je modifie mon mot de passe
				</button>
				{{ form_end(formView) }}
			</div>
		</div>
	</section>
{% endblock %}
