<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h1>
				<a href="{{ path('home') }}"><img src="/assets/img/snowtricks-logo.png" alt="logo snowtricks.com" class="img-fluid"></a>
			</h1>
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li>
					<a class="nav-link" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="dropdown">
					<a href="#">
						<span>Catégories</span>
						<i class="bi bi-chevron-down"></i>
					</a>
					<ul>
						{% for category in categoryRepository.findAll() %}
							<li>
								<a href="{{ path('trick_category', {'slug': category.slug}) }}">{{ category.name|capitalize }}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
				{% if app.user %}
					<li>
						<a class="nav-link" href="{{ path('trick_create') }}">Ajouter un trick</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('security_profile', {'id': app.user.id}) }}">Mon profil</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('security_logout') }}">Se déconnecter
							<i class="fas fa-sign-out-alt fa-2x"></i>
						</a>
					</li>
				{% else %}
					<li>
						<a class="nav-link" href="{{ path('security_login') }}">Connexion
							<i class="fas fa-sign-in-alt fa-2x"></i>
						</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('security_signin') }}">Inscription
							<i class="fas fa-user-plus fa-2x"></i>
						</a>
					</li>
				{% endif %}
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<!-- .navbar -->

	</div>
</header>
<!-- End Header -->
