{% extends "base.html.twig" %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">

			<div class="d-flex justify-content-between align-items-center">
				<ol>
					<li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
					<li>
                        <a href="{{ path('trick_category', {'slug': category.slug}) }}">
                            {{ category.name }}
                        </a>
                    </li>
				</ol>
			</div>

		</div>
	</section>
	<!-- End Breadcrumbs -->
	<!-- ======= More Services Section ======= -->
	<section id="last-tricks" class="more-services">
		<div class="container">

			<div class="row">

				{% for trick in category.tricks %}
					<div class="col-lg-6 d-flex align-items-stretch mt-4">
						<div class="card" style='background-image: url("assets/img/pictures/picture_1.jpg");' data-aos="fade-up" data-aos-delay="100">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('trick_show', { 'category_slug': trick.category.slug,'slug': trick.slug }) }}">{{ trick.name }}</a>
								</h5>
								<p class="card-text">{{ trick.description[:100] ~ (trick.description|length > 100 ? '...') }}</p>
								<div class="read-more">
									<a href="{{ path('trick_show', { 'category_slug': trick.category.slug,'slug': trick.slug }) }}">
										<i class="bi bi-arrow-right"></i>
										Voir ce trick</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>

		</div>
	</section>
	<!-- End More Services Section -->
{% endblock %}
