{% extends "base.html.twig" %}

{% block title %}
	{{ trick.name }}
{% endblock %}

{% block body %}
	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">

			<div class="d-flex justify-content-between align-items-center">
				<ol>
					<li>
						<a href="{{ path('home') }}">Home</a>
					</li>
					<li>
						<a href="{{ path('trick_category', {'slug': trick.category.slug}) }}">
							{{ trick.category.name }}
						</a>
					</li>
					<li>{{ trick.name }}</li>
				</ol>
			</div>

		</div>
	</section>
	<!-- End Breadcrumbs -->

	<!-- ======= Portfolio Details Section ======= -->
	<section id="portfolio-details" class="portfolio-details">
		<div class="container">
			<div class="section-title">
				<h2>{{ trick.name }}</h2>
			</div>
			<div class="row gy-4">
				<div class="col-lg-7">
					<div class="portfolio-details-slider swiper-container">
						<div class="swiper-wrapper align-items-center">

							{% for pic in trick.pictures %}

								<div class="swiper-slide">
									<img src="{{ asset(pic.path) }}" alt="picture of the snowboard trick called '{{ trick.name }}'">
								</div>

							{% endfor %}

						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="portfolio-info" data-aos="fade-left">
						<ul>
							<li>
								<strong>Catégorie
								</strong>:
								{{ trick.category.name }}</li>
							<li>
								<strong>Auteur
								</strong>:
								{{ trick.user.screenName }}</li>
							<li>
								<strong>Date de création
								</strong>:
								{{ trick.creationDate|date("d/m/Y") }}</li>

							{% if app.user %}
								{% if comments|length == 0 %}
									<li>
										<strong>Nombre de commentaires
										</strong>: ... 0 ! Mais vous avez la possibilité d'en laisser un
										<a href="#comments">
											ici</a>.</li>
								{% else %}
									<li>
										<strong>Nombre de commentaires
										</strong>:
										{{ comments|length }}
										... sans compter celui que vous pouvez laisser
										<a href="#comments">
											ici</a>.</li>
								{% endif %}
								<li>
									<a class="getstarted scrollto" href="{{ path('trick_edit', { 'id': trick.id }) }}">
										<i class="fas fa-pen"></i>
										Modifier/supprimer ce trick
									</a>
								</li>
							{% else %}
								{% if comments|length == 0 %}
									<li>
										<strong>Nombre de commentaires
										</strong>: ... 0 ! Mais vous avez la possibilité d'en laisser un une fois
										<a href="{{ path('security_login') }}">inscrit(e)</a>
										et
										<a href="{{ path('security_login') }}">connecté(e)</a>
										.</li>
								{% else %}
									<li>
										<strong>Nombre de commentaires
										</strong>:
										{{ comments|length }}
										... sans compter celui que vous pouvez laisser une fois
										<a href="{{ path('security_login') }}">inscrit(e)</a>
										et
										<a href="{{ path('security_login') }}">connecté(e)</a>
										.
									</li>
								{% endif %}


							{% endif %}
						</ul>
					</div>
					<div class="portfolio-description">
						<h2>Exécution du trick</h2>
						<p>
							{{ trick.description }}
						</p>
					</div>
				</div>
			</div>

			<div class="container mt-5">
				<div class="section-title" data-aos="fade-up">
					<h2>Vidéos</h2>
				</div>
				<div class="row" data-aos="fade-up" aos-delay="600">
					{% for video in trick.videos %}
						{# {% if 'facebook' in video.url %} TO USE FACEBOOK VIDEOS TOO
							<div id="fb-root" class="col-lg-4 col-md-6 mb-3" align="center">
								<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
								<div class="fb-video" data-href="{{ video.url }}" data-allowfullscreen="true"></div>
							</div>
						{% else %} #}
							<div class="col-lg-4 col-md-6 mb-3" align="center">
								<iframe src="{{ video.url }}" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						{# {% endif %} #}
					{% endfor %}
				</div>
			</div>

			<div id="comments" class="container mt-5">
				<div class="section-title" data-aos="fade-up">
					<h2>Commentaires</h2>
				</div>

				{% if app.user %}

					<div class="row mb-5" data-aos="fade-up" aos-delay="300">
						<h5>N'hésitez pas à commenter ce trick,
							{{ app.user.screenName|capitalize }}
							!</h5>
						{{ form_start(commentFormView) }}
						{{ form_widget(commentFormView.content) }}
						<button class="btn form-submit-btn mt-3">C'est ça qu'est-ce que j'veux dire !</button>
						{{ form_end(commentFormView) }}
					</div>

				{% else %}

					<div class="row mb-5" data-aos="fade-up" aos-delay="300">
						<h5>N'hésitez pas à vous
							<a href="{{ path('security_login') }}">connecter</a>
							ou vous
							<a href="{{ path('security_signin') }}">inscrire</a>
							si vous souhaitez commenter ce trick.</h5>
					</div>

				{% endif %}

				<div class="row" data-aos="fade-up" aos-delay="600">
					{% for comment in comments|reverse %}
						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="portfolio-info">
									<img src="{{ asset(comment.user.idPhotoPath) }}" width="50" alt="">
									<h5>{{ comment.user.screenName }}
										a écrit le
										{{ comment.creationDate|date("d/m/Y") }}
										à
										{{ comment.creationDate|date("H:i:s") }}</h5>
									<p>
										<i class="bx bxs-quote-alt-left quote-icon-left"></i>
										{{ comment.content }}
										<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>


		</div>
	</section>
	<!-- End Portfolio Details Section -->
{% endblock %}
